

/* Background image input here */
body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#header {
	width: 100%;
	height: 100px;
	background-color: #5c747f;
	border-bottom: 3px solid black;
	opacity: 0.8;
	filter: alpha (opacity=80);
	position: absolute;
	z-index: 3;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#navbar {
	width: 350px;
	height: 100px;
	float: right;
}

#navbuttons a{
	padding: 8px;
	margin: 6px;
	margin-top: 43px;
	list-style: none;
	float: left;
	display: inline-block;
	color: #d9e2e6;
	line-height: 22px;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	background-color: #071925;
	border-radius: 15%;
	border: 2px solid white;
} 

#logo {
	width: 97px;
	height: 97px;
	float: left;
	margin-left: 10%;
	border-radius: 50%;
	border: 3px solid black;
}

#name {
	padding: 40px;
	margin-left: 15px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	float: left;
	height: 20px;
	background-color: #071925;
	color: #d9e2e6;
}

#connect {
	background-color: #5c747f;
    width: 240px;
    height: 160px;
    position: absolute;
    right: 250px;
    top: 141px;
    border: 2px solid black;
    border-radius: 12px;
    opacity: 0.8;
	filter: alpha (opacity=80);
	z-index: 1;
}

#connecttext {
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 13px;
}

#connecthr {
	height: 13px;
    width: 210px;
    margin-top: 4px;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 10px 10px -6px #d3d3d3 inset;
}


#connectli a{
	margin: 12px;
	padding: 0px;
	float: left;
	display: inline-block;
	text-decoration: none;
}

#connectimage {
	width: 55px;
	height: 55px;
}

#portfolio1 {
	position: absolute;
    left: 275px;
    top: 141px;
    width: 650px;
    height: 520px;
    background-color: #838f95;
    border: 2px solid black;
    border-radius: 5%;
    z-index: 2;
}

#portfoliohd {
    margin-top: 25px;
    margin-left: 50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#portfoliohr1 {
	width: 620px;
	height: 30px;
	margin-left: 15px;
	margin-top: 15px;
    border-style: solid;
    border-color: white;
    border-width: 3px 0 0 0;
    border-radius: 20px;
}

#portfoliohr2 {
	width: 620px;
	height: 30px;
	margin-left: 15px;
	margin-top: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 3px 0;
    border-radius: 20px;
    position: relative;
    bottom: -355px;
}



























#formwrap {
    position: absolute;
    left: 275px;
    top: 141px;
    width: 500px;
    height: 520px;
    background-color: #838f95;
    border: 2px solid black;
    border-radius: 5%;
    z-index: 2;
}

form {
	width: 415px;
	margin: 25px;
}


form h4 {
    margin-top: 5px;
    margin-left: 55px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

form hr {
	width: 280px;
	height: 30px;
	margin-left: 15px;
    border-style: solid;
    border-color: white;
    border-width: 3px 0 0 0;
    border-radius: 20px;
}

label {
	display: block;
	margin-left: 20px;
	padding: 16px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input {
	width: 250px;
	margin-left: 25px;
	border: solid 2px #39393a;
}

textarea {
	width: 250px;
	height: 140px;
	margin-left: 25px;
	border: solid 2px #39393a;
}

fieldset {
	padding: 5px;
}

.labelone {
	margin-top: -37px;
}

.btn {
	width: 125px;
    height: 46px;
    margin-top: 20px;
    margin-left: 25px;
    background-color: #323435;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 6px #1c1c1c;
}

.btn:hover {
	background-color: #4e5456;
}

.btn:active {
  background-color: #222425;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

#footer {
	background-color: white;
	width: 100%;
	height: 60px;
	text-align: center;
	position: fixed;
	bottom: 0;
	background-color: #050e15;
	opacity: 0.8;
	filter: alpha (opacity=80);
	color: #d9e2e6;
	border-top: 2px solid black;
}

#footertext {
	padding-top: 24px;
	font-size: 12px;
}